<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="/static/js/jquery/2.0.0/jquery.min.js"></script>
<link href="/static/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
<script src="/static/js/bootstrap/3.3.6/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>添加菜品</title>
</head>
<body>
<div class="modal-dialog" style="margin-top: 10%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title text-center">添加菜品</h4>
        </div>
        <div class="modal-body">
            <form action="/admin/addDish" th:action="@{/admin/addDish}" th:object="${dish}" method="post">
                <div class="form-group" style="text-align: center">
                    <span class="glyphicon glyphicon-user text-success"></span>&nbsp;菜品名&nbsp;<input type="text" th:field="*{dishName}" cssClass="form-control"/>
                </div>
                <div class="form-group" style="text-align: center">
                    <span class="glyphicon glyphicon-user text-success"></span>&nbsp;价格&nbsp;<input type="text" th:field="*{price}" cssClass="form-control"/>
                </div>
                <div class="form-group" style="text-align: center">
                    <input type="submit" value="确认添加" class="btn btn-primary"/>
                    <a th:href="@{/admin/dish(windowId=${window.getWindowId()})}" class="btn btn-primary">取消</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>