<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzufood.repository.CanteenMapper">

    <resultMap id="canteenMap" type="com.fzufood.entity.Canteen">
        <id property="canteenId" column="canteen_id" ></id>
        <result property="canteenName" column="canteen_name" ></result>
        <collection property="windows" ofType="com.fzufood.entity.Window">
            <id property="windowId" column="window_id"/>
            <result property="windowName" column="window_name"/>
            <result property="description" column="description"/>
            <result property="location" column="location" typeHandler="com.fzufood.util.FileTypeHandler"/>
            <result property="profile" column="profile" typeHandler="com.fzufood.util.FileTypeHandler"/>
        </collection>
    </resultMap>

    <select id="listCanteens" resultMap="canteenMap">
        select * from canteen left outer join window on canteen.canteen_id = window.canteen_id
    </select>
    
    <select id="getCanteenById" parameterType="java.lang.Integer" resultMap="canteenMap">
        select * from canteen left outer join window on canteen.canteen_id = window.canteen_id
        where canteen.canteen_id = #{id}
    </select>
    
</mapper>