<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzufood.repository.WindowMapper">

<!--    <resultMap id="windowMap" type="com.fzufood.entity.Window">-->
<!--        <id column="window_id" property="windowId"></id>-->
<!--        <result column="window_name" property="windowName"></result>-->
<!--    </resultMap>-->

<!--    <select id="listWindows" resultMap="windowMap">-->
<!--        select * from window-->
<!--    </select>-->

<!--    <select id="getWindowById" parameterType="java.lang.Integer" resultMap="windowMap">-->
<!--        select * from window where window_id = #{id}-->
<!--    </select>-->

<!--    <insert id="save" parameterType="com.fzufood.entity.Window">-->
<!--        insert into window(window_name) values(#{windowName})-->
<!--    </insert>-->

</mapper>